.container__card-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1.3px solid #ebedf0;
  width: 220px;
  height: 400px;
  padding: 10px;
}

.card__img {
  max-width: 100%;
  height: auto;
}
